# Operators and Operands

# Arithmetic Operators

In [1]:
a=10
b=20

In [3]:
print(a+b)#sum of two numbers

30

In [4]:
print(b-a)#difference of two numbers

10

In [5]:
print(a*b)#product of two numbers

200

In [6]:
print(a/b)#The quotient returned by this operator is always a float number, no matter if two numbers are integers.

0.5

In [7]:
print(b/a)#The quotient returned by this operator is always a float number, no matter if two numbers are integers.

2.0

#floor devision
The quotient returned by this operator is dependent on the argument being passed. If any of the numbers is float, it returns output in float. It is also known as Floor division because, if any number is negative, then the output will be floored

In [8]:
print(b//a)

2

In [9]:
print(b%a)#modulus returns the remainder when the first operand is divided by the second

0

In [10]:
print(a%b)#modulus returns the remainder when the first operand is divided by the second

10

In [13]:
x=4
y=2
print(x**y)#raises x to the power of â€˜y

16

# Comparison operators

In [14]:
a = 13
b = 33

In [15]:
print(a > b)#Greater than: True if the left operand is greater than the right

False

In [16]:
print(a < b)#Less than: True if the left operand is less than the right

True

In [17]:
print(a == b)#Equal to: True if both operands are equal

False

In [18]:
print(a != b)#Not equal to: True if operands are not equal

True

In [19]:
print(a >= b)#Greater than or equal to True if the left operand is greater than or equal to the right

False

In [20]:
print(a <= b)#Less than or equal to True if the left operand is less than or equal to the right

True

#Logical Operators

In [21]:
a = 1
b = 0

In [22]:
print(a and b)

0

In [23]:
print(a or b)

1

In [24]:
print(not a)

False

In [25]:
a = True
b = False
print(a and b)
print(a or b)
print(not a)

False
True
False

Precedence of Logical Operators in Python

Logical not

logical and

logical or

#Assignment Operators

In [26]:
#Assign the value of the right side of the expression to the left side operand
a = 10
b = a
print(b)
b += a  #Add AND: Add right-side operand with left-side operand and then assign to left operand
print(b)
b -= a  #Subtract AND: Subtract right operand from left operand and then assign to left operand
print(b)
b *= a  #Multiply AND: Multiply right operand with left operand and then assign to left operand
print(b)
b <<= a #Performs Bitwise left shift on operands and assign value to left operand
print(b)

10
20
10
100
102400

#Bitwise Operators

In [27]:
a = 10
b = 4

In [28]:
print(a & b)#Bitwise AND

0

In [29]:
print(a | b)#Bitwise OR

14

In [30]:
print(~a)#Bitwise NOT

-11

In [31]:
print(a ^ b)#Bitwise XOR

14

In [35]:
print(a >> 2)#Bitwise right shift

2

In [36]:
print(a << 2)#Bitwise left shift

40

#Identity Operators and Membership Operators

In [37]:
a = 10
b = 20
c = a

print(a is not b)#  True if the operands are not identical
print(a is c)#  True if the operands are identical

True
True

In [38]:
x = 24
y = 20
list = [10, 20, 30, 40, 50]

if (x not in list):# True if value is not found in the sequence
    print("x is NOT present in given list")
else:
    print("x is present in given list")

if (y in list):# True if value is found in the sequence
    print("y is present in given list")
else:
    print("y is NOT present in given list")

x is NOT present in given list
y is present in given list