# Creating a Tuple

In [ ]:
T=(1,2,3,4,5)

In [ ]:
T

(1, 2, 3, 4, 5)

In [ ]:
type(T)

tuple

In [ ]:
values:tuple[int | str,...]=(1,2,3,4,"Hello")
values

(1, 2, 3, 4, 'Hello')

In [ ]:
tuple_constructor = tuple(("dsa", "developement", "deep learning"))
print(tuple_constructor)

('dsa', 'developement', 'deep learning')

# Immutable in Tuples

In [ ]:
t=(1,2,3,4,5)

In [ ]:
t

(1, 2, 3, 4, 5)

In [ ]:
t[3]

4

In [ ]:
t[3]=100

TypeError: 'tuple' object does not support item assignment

# Accessing Values in Python Tuples

In [ ]:
t

(1, 2, 3, 4, 5)

In [ ]:
t[0] # Positive Indexing

1

In [ ]:
t[2] # Positive Indexing

3

In [ ]:
t[-2] # Negative Indexing

4

In [ ]:
t[-1] # Negative Indexing

5

#Slicing

In [ ]:
t[0:4]

(1, 2, 3, 4)

In [ ]:
t[-5:-1]

(1, 2, 3, 4)

In [ ]:
t[::-1]

(5, 4, 3, 2, 1)

# Tuple Mutability

Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.
But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [ ]:
tup=([1,2,3,4,4],5,6,7)

In [ ]:
tup

([1, 2, 3, 4, 4], 5, 6, 7)

In [ ]:
type(tup)

tuple

In [ ]:
tup[0][4]=5

In [ ]:
tup

([1, 2, 3, 4, 5], 5, 6, 7)

In [ ]:
tup[0][3]

4

In [ ]:
tup=list(tup)

In [ ]:
tup

[[1, 2, 3, 4, 5], 5, 6, 7]

In [ ]:
tup[1]=100

In [ ]:
tup

[[1, 2, 3, 4, 5], 100, 6, 7]

In [ ]:
tup=tuple(tup)

In [ ]:
tup

([1, 2, 3, 4, 5], 100, 6, 7)

# Unpacking of Tuple

In [ ]:
tupe=(1,2,3,4,5)

In [ ]:
a,b,c,d,e=tupe

In [ ]:
a

1

If the number of variables is less than the number of values, you can add an "*" to the variable name and the values will be assigned to the variable as a list

In [ ]:
a,b,*c=tupe

In [ ]:
c

[3, 4, 5]

# Tuple Operations

#Concatenation

In [20]:
t1=(1,2,3)
t2=(4,5,6)
t1+t2

(1, 2, 3, 4, 5, 6)

# Nesting

In [23]:
t3=(t1,t2)

In [24]:
t3

((1, 2, 3), (4, 5, 6))

#Repetition

In [26]:
t1*3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

#Deleting

In [28]:
del t1

In [29]:
t1

NameError: name 't1' is not defined

#Finding the length

In [30]:
len(t2)

3

#Multiple Data Types with tuples

In [31]:
tuple_obj = ("immutable",True,23)
tuple_obj

('immutable', True, 23)

#Conversion of lists to tuples

In [32]:
l1=[1,2,3,4,5]
l1=tuple(l1)
l1

(1, 2, 3, 4, 5)

#Tuples in a Loop

In [33]:
t1=(1,2,3,4,5)
for i in t1:
  print(i)

1
2
3
4
5