# Creating a Set

In [ ]:
set1=set() # Empty Set

In [ ]:
type(set1)

set

In [ ]:
Set={1,2,3,4,5,6}

In [ ]:
Set

{1, 2, 3, 4, 5, 6}

In [ ]:
lst=[10,20,30,40,50,60]

In [ ]:
Set2=set(lst)

In [ ]:
Set2

{10, 20, 30, 40, 50, 60}

In [ ]:
Set3=set("Hello")

In [ ]:
Set3

{'H', 'e', 'l', 'o'}

In [ ]:
Set4=set((1,2,3,4,5,6))

In [ ]:
Set4

{1, 2, 3, 4, 5, 6}

In [ ]:
Set5=set((range(10)))

In [ ]:
Set5

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

# Frozen Set

In [ ]:
Y = ['apple', 'banana', 'cherry']
x = frozenset(Y)
x

frozenset({'apple', 'banana', 'cherry'})

In [ ]:
x[1] = "strawberry"

TypeError: 'frozenset' object does not support item assignment

In [ ]:
x

frozenset({'apple', 'banana', 'cherry'})

# Access Set

In [ ]:
Set

{1, 2, 3, 4, 5, 6}

In [ ]:
for i in Set:
    print(i)

1
2
3
4
5
6

In [ ]:
print(1 in Set)

True

In [ ]:
print(1 not in Set)

False

# Add Items

In [3]:
X={10,20,30}

In [5]:
X

{10, 20, 30}

In [6]:
X.add(40)

In [7]:
X

{10, 20, 30, 40}

In [8]:
Y={50,60,70}

In [10]:
X.update(Y)

In [11]:
X

{10, 20, 30, 40, 50, 60, 70}

In [12]:
Z=[80,90,100]

In [13]:
X.update(Z) #The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).X

In [14]:
X

{10, 20, 30, 40, 50, 60, 70, 80, 90, 100}

# Remove Item

In [15]:
X

{10, 20, 30, 40, 50, 60, 70, 80, 90, 100}

In [16]:
X.remove(10)

In [20]:
X.remove(11) #If the item to remove does not exist, remove() will raise an error.

KeyError: 11

In [17]:
X

{20, 30, 40, 50, 60, 70, 80, 90, 100}

In [18]:
X.discard(20)

In [19]:
X

{30, 40, 50, 60, 70, 80, 90, 100}

In [21]:
X.discard(21) #If the item to remove does not exist, discard() will NOT raise an error.

In [22]:
X.pop()

70

In [23]:
X.clear()

In [24]:
X

set()

In [25]:
del X

In [26]:
X

NameError: name 'X' is not defined

# Join Sets
# Union
The union() method allows you to join a set with other data types, like lists or tuples.

In [27]:
x1={10,20,30}
x2={40,50,60}
x1.union(x2)

{10, 20, 30, 40, 50, 60}

In [28]:
x2|x1 # | union operator

{10, 20, 30, 40, 50, 60}

# Join Multiple Sets

In [29]:
y1={10,20,30}
y2={40,50,60}
y3={70,80,90}
y1.union(y2,y3)

{10, 20, 30, 40, 50, 60, 70, 80, 90}

In [30]:
y1|y2|y3

{10, 20, 30, 40, 50, 60, 70, 80, 90}

# Intersection

In [42]:
set1={"apple","banana","cherry"}
set2={"google","microsoft","apple"}
set1.intersection(set2)

{'apple'}

In [43]:
set1&set2 # & intersection operator

{'apple'}

In [44]:
set1.intersection_update(set2) #The intersection_update() method will also keep only the items that are present in both sets, but it will change the original set instead of returning a new set.
set1

{'apple'}

In [45]:
Set1={'apple', 'banana', 'cherry',1,0}
Set2={'google', 'microsoft', 'apple',True,False,1,0}
s3=Set1.intersection(Set2)
print(s3)

{False, True, 'apple'}

# Difference

In [47]:
Set1.difference(Set2)

{'banana', 'cherry'}

In [48]:
Set2.difference(Set1)

{'google', 'microsoft'}

In [49]:
Set1-Set2 # - difference operator

{'banana', 'cherry'}

In [50]:
Set1.difference_update(Set2) #The difference_update() method will also keep all but the duplicates, but it will change the original set instead of returning a new set.

In [51]:
Set1

{'banana', 'cherry'}

# Symmetric Differences

In [52]:
Set1.symmetric_difference(Set2)

{False, True, 'apple', 'banana', 'cherry', 'google', 'microsoft'}

In [53]:
Set1^Set2 # ^ symmetric difference operator

{False, True, 'apple', 'banana', 'cherry', 'google', 'microsoft'}

In [54]:
Set1.symmetric_difference_update(Set2) #The symmetric_difference_update() method will also keep all but the duplicates, but it will change the original set instead of returning a new set.

In [55]:
Set1

{False, True, 'apple', 'banana', 'cherry', 'google', 'microsoft'}

# Set Methods

In [57]:
x={'a','b','c'}
y={'c','d','e','f','a','b'}
z=x.issubset(y) #	Returns whether another set contains this set or not
print(z)

True

In [58]:
x.issuperset(y) #Returns whether this set contains another set or not

False

In [60]:
x.isdisjoint(y) #Returns whether two sets have a intersection or not

False